{% extends 'donate/base.html' %}

{% block title %}Payment Success{% endblock %}

{% block content %}
<div style="text-align: center;">
    <img src="https://fcs3pub.s3.amazonaws.com/photo-book/images/payment/success.gif" alt="Success Image" style="width: 300px; height: 300px; margin: 20px;">
    <h1 style="font-weight: bold; color: green;">Payment Success</h1>
    <p>Your payment has been successfully processed. Thank you for your generous donation. Your support makes a difference!</p>
</div>
{% endblock %}
